node_modules/
dist/
build/
out/
.tmp/
*.log

.env
.env.local
.env.*.local
*.pem
*.crt
*.pfx

.DS_Store
Thumbs.db

.eslintcache
.stylelintcache
.parcel-cache
.nyc_output

.vscode/
release/
.webpack/
#development
uploads/
chunks/
database.sqlite
config.json
fileline
fileline-old
tmp.md